<div class="container">

<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Download Weavlo
      </h1>
    </div>
  </div>
</section>
  
<div class="tile is-ancestor">
  <div class="tile is-6 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">Latest Version</p>
      <p>The latest verson is um ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
    </div>
    <div class="tile is-child box">
      <p class="title">Two</p>
      <p>Support Weavlo development: You can support Weavlo development by pledging on Patreon or donating on PayPal. Become a Backer (recurring pledge via Patreon).  Donate via PayPal (one time)</p>
    </div>
  </div>
  
  <div class="tile is-parent">
    <div class="tile is-child box">

      {{> file_panel }}   
    
    </div>
  </div>
</div>
  
 
</div>
