<section class="hero is-warning is-medium">
  
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title" style="font-size: 4rem;">
        WEAVLO
      </h1>
      <h2 class="subtitle">
        An installation toolkit for ERPNext&trade;
      </h2>
    </div>
  </div>  
</section>


<section class="container">
  
  <div class="is-size-4 has-text-centered" style="margin-top: 1rem;">
    <p>Installing ERPNext can be challenging.&ensp;&ensp;Weavlo is here to help.</p>
  </div>

  <div class="level">
    <div class="level-item has-text-centered">
        <p class="is-size-3">&#10003;</p>
        <p class="is-size-5">&ensp;Verifies PreRequisites</p>
    </div>
    
    <div class="level-item has-text-centered">
      <p class="is-size-3">&#10003;</p>
      <p class="is-size-5">&ensp;Consistent, Deterministic Installation</p>
    </div>

    <div class="level-item has-text-centered">
      <p class="is-size-3">&#10003;</p>
      <p class="is-size-5">&ensp;Supports Debian, Ubuntu, and CentOS</p>
    </div>
  </div>
</section>

<section class="has-background-white has-text-centered" style="padding-top: 1rem;">
  <div>
    <p class="heading">Downloads</p>
    <p class="title">123</p>
  </div>
</section>



