<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <!-- Brand -->
  <div class="container is-danger">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/weavlo_512.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item is-bold"  href="/">
        <strong>Home</strong>
      </a>
      
      <a class="navbar-item">
        What is Weavlo?
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Contribute
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
             <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" href="https://gitlab.com/weavlo" target="_blank">
            GitLab Repository
          </a>
          <a class="button is-strong" href="/download">
            <strong>Download</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
    </div>
</nav>