<meta charset="utf-8">
<meta name="description" content="{{description}}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{title}}</title>

<link rel="stylesheet" type="text/css" href="css/bulma.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css"
    integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css"
    integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
