<!DOCTYPE html>
<html>

<head>
  {{> layout/head}}
  
  {{#stack 'css'}}
    <link rel="stylesheet" href="/css/style.css">
  {{/stack}}

  </head>

<body>
  <div style='background-color: ##F2F6F7;'>
    {{> header }}

    {{{ content }}}

    {{> footer }}

  </div>
  
</body>

</html>
