<!DOCTYPE html>

<!-- NOT BEING USED 
<html>

<head>
    {{> layout/head}}

    {{#stack 'css'}}
        <link rel="stylesheet" href="/css/style.css">
    {{/stack}}
</head>

<body>
  <div style='background-color: #000000;'>
    {{{ content }}}
  </div>
</body>

</html>

-->
